<div class="container.is-max-widescreen">
  <section class="section is-medium">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h1 class="title">t('.title')</h1>
          <p class="subtitle">t('.subtitle')</p>
        </div>

      </div>
      <%= render "form", article: @article %>
    </div>
  </section>
</div>

