<footer class="footer">
  <div class="content has-text-centered">
    <p> Made with 💖 by <strong>Nicole Brito</strong></p>
    <p>
      <a href="https://www.linkedin.com/in/nicole-brito/" target="_blank">
        <i class="fab fa-linkedin"></i> LinkedIn</a><br>
      <a href="https://github.com/nicole-brito" target="_blank">
        <i class="fab fa-github"></i> GitHub</a> <br>
      <a href="https://twitter.com/nicole_brito" target="_blank">
        <i class="fab fa-twitter"></i>Twitter</a>
    </p>
  </div>
</footer>